<!-- 文言文组合题 -->
<div data-qid="{{:id}}" class="qbody">
    <div class="title">
        <span>题号：{{:id}}</span><span style="float: right"><a href="#">编辑</a>&nbsp;&nbsp;<a href="#">删除</a> </span>
    </div>
    <div>
        <label class="qBodyTitle">&lt;题型&gt;</label>
        <label>{{:type}}</label>
        <label class="qBodyTitle">&lt;材料&gt;</label>
        <div>
            <img src="{{:material}}">
        </div>
        <div id="sub_container"></div>
        <label class="qBodyTitle">&lt;译文&gt;</label>
        <div>
            <img src="{{:translation}}">
        </div>
    </div>
</div>