<div data-id="{{:id}}" class="qbody">
    <div class="title">
        <span>题号：{{:id}}</span><span style="float: right"><a href="#">编辑</a>&nbsp;&nbsp;<a href="#">删除</a> </span>
    </div>
    <div>
        <label class="qBodyTitle">&lt;题型&gt;</label>
        <label>{{:type}}</label>
        <label class="qBodyTitle">&lt;题干&gt;</label>

        <div>
            <img src="{{:content}}">
        </div>
        <label class="qBodyTitle">&lt;答案&gt;</label>
        <div>
            <img src="{{:answer}}">
        </div>
        <label class="qBodyTitle">&lt;解析&gt;</label>
        <div>
            <img src="{{:analysis}}">
        </div>
    </div>
</div>